{% extends "index.html" %}
{%  load static %}

{% block intro %} {% endblock %}

{% block content %}
    <div id="user">
        <img src="{% static 'avatar.png' %}">
        <div id="content2">
            <div class="arrow-right"></div>
            <p id="question">{{ question }}</p>
        </div>
    </div>
    {% ifequal type 0 %}
        <div id="pete">
            <img src="{% static 'pete-lounging.png' %}">
            <div id="content">
                <div class="arrow-left"></div>
                <p>{{ answer }}</p>
            </div>
        </div>
    {% endifequal %}
    {% ifequal type 1 %}
        <div id="pete">
            <img src="{% static 'pete-lounging.png' %}">
            <div id="content">
                <div class="arrow-left"></div>
                <p><a href="{{ url }}">{{ url }}</a></p>
            </div>
        </div>
    {% endifequal %}
    {% ifequal type 2 %}
        <div id="pete">
            <img src="{% static 'pete-lounging.png' %}">
            <div id="content">
                <div class="arrow-left"></div>
                <div id="extras">
                    <p>{{ answer }}</p>
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBl6fFRKBn-iZiouEpvaJfZlr8255dhMOU&q={{ building_street }}"></iframe>
                </div>
            </div>
        </div>
    {% endifequal %}

{% endblock %}
