{% extends "index.html" %}
{%  load static %}


{% block content %}
    <div id="user">
        <img src="{% static 'avatar.png' %}">
        <p id="question">{{ question }}</p>
    </div>
    <div id="pete">
        <img src="{% static 'pete-lounging.png' %}">
        <p>{{ answer }}</p>
        {% ifequal type 1 %}
            <iframe src="{{ answer }}"></iframe>
        {% endifequal %}
        {% ifequal type 2 %}
            <div id="map" ></div>
        {% endifequal %}
    </div>
{% endblock %}
