{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'AskPete/style.css' %}" />
<div>
<nav>
    <ul>
        <li><a href="/admin">Admin Log In </a></li>
    </ul>
</nav>
</div>

<div class="hero-image">
    <div class="hero-text">
        <h1>Ask Pete</h1>
        <form onsubmit="return GetAnswer()" method="get">
            {% csrf_token %}
            {{ form }}
            <input placeholder="What do you want to know?" type="text" id="input">
            <input type="submit" id="Submit" value="Submit">
        </form>
    </div>
</div>

<script>
function GetAnswer() {
    window.alert("its alive");
    var question = document.getElementById("input").value;
    for (var i in {{latest_question_list}}) {
        if (question.equals({{i.question_text}}) ) {
            window.alert({{i.answer_text}});
        }
    }
    return false;
}
</script>
