{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'AskPete/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <title>Ask Pete: FIT QA System</title>
</head>
<body>
    <div id="wrapper">
        <nav>
            <ul>
                <li><a href="/home">Home</a> </li>
                <li><a href="/admin">Admin Log In </a></li>
            </ul>
        </nav>


        <div class="hero-image">
            <div class="hero-text">
                <h1>Ask Pete</h1>
                <form action="getquery/" method="get">
                    {% csrf_token %}
                    {{ form }}
                    <input placeholder="I'm looking for..." type="text" id="input" name="query" required />
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <footer>&copy;Ask Pete</footer>
    </div>
</body>